node_modules
__pycache__/
*.py[cod]
.env
.venv/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
rafi-bot/data/histdata/
rafi-bot/data/*.csv
rafi-bot/config.yaml
rafi-bot/src/ml/modelo.pkl
rafi-bot/logs/*.log
rafi-bot/logs/*.csv
